@page
@model inventory_dot_core.Areas.Admin.Pages.EditModel
@{
    ViewData["Title"] = "Редактирование прав пользователя";
}

<h2>Пользователь  </h2>
<hr />
<div class="row">
    <div class="col-md-4">

    </div>
</div>